.section {
  --inner-padding: 4%;
  width: 100%;
  &__inner {
    padding-left: var(--inner-padding);
    padding-right: var(--inner-padding);
  }
  &--full {
    --inner-padding: 0;
  }
  &--fixed {
    .section__inner {
      max-width: var(--page-max-width);
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

